.elementor-170 .elementor-element.elementor-element-e35acd6 {
    --spacer-size: 50px;
}

.elementor-170 .elementor-element.elementor-element-9399132 {
    color: #2F2C2C;
    font-family: "Roboto", Sans-serif;
    font-weight: 400;
}

.elementor-170 .elementor-element.elementor-element-26f7896 {
    color: #2F2C2C;
    font-family: "Roboto", Sans-serif;
    font-weight: 400;
}

.elementor-170 .elementor-element.elementor-element-b802aad {
    color: #2F2C2C;
    font-family: "Roboto", Sans-serif;
    font-weight: 400;
}

.elementor-170 .elementor-element.elementor-element-73fad77 {
    color: #2F2C2C;
    font-family: "Roboto", Sans-serif;
    font-weight: 400;
}

.elementor-170 .elementor-element.elementor-element-147db43 {
    color: #333131;
    font-family: "Roboto", Sans-serif;
    font-size: 30px;
    font-weight: 400;
}

.elementor-170 .elementor-element.elementor-element-3147f65 {
    text-align: left;
    color: #2F2C2C;
    font-family: "Roboto", Sans-serif;
    font-weight: 400;
}

.elementor-170 .elementor-element.elementor-element-d8d8563:not(.elementor-motion-effects-element-type-background),
.elementor-170 .elementor-element.elementor-element-d8d8563>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #0E6968;
}

.elementor-170 .elementor-element.elementor-element-d8d8563 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-170 .elementor-element.elementor-element-d8d8563>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-170 .elementor-element.elementor-element-d8d8563 .elementor-heading-title {
    color: #F9F9F9;
}

.elementor-170 .elementor-element.elementor-element-bacab37 {
    text-align: center;
}

.elementor-170 .elementor-element.elementor-element-bacab37 .elementor-heading-title {
    color: #FEFFFF;
    font-family: "Lato", Sans-serif;
    font-weight: 600;
}

.elementor-170 .elementor-element.elementor-element-0703060:not(.elementor-motion-effects-element-type-background),
.elementor-170 .elementor-element.elementor-element-0703060>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #0E6968;
}

.elementor-170 .elementor-element.elementor-element-0703060 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    color: #FDFDFD;
}

.elementor-170 .elementor-element.elementor-element-0703060>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-170 .elementor-element.elementor-element-0703060 .elementor-heading-title {
    color: #FCFCFC;
}

.elementor-170 .elementor-element.elementor-element-2f98132 {
    text-align: center;
    color: #FFFFFF;
    font-family: "Lato", Sans-serif;
    font-weight: 400;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.elementor-170 .elementor-element.elementor-element-7ca3262:not(.elementor-motion-effects-element-type-background),
.elementor-170 .elementor-element.elementor-element-7ca3262>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #0E6968;
}

.elementor-170 .elementor-element.elementor-element-7ca3262 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-170 .elementor-element.elementor-element-7ca3262>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-170 .elementor-element.elementor-element-a3e2bea .elementor-button {
    fill: #0E0000;
    color: #0E0000;
    background-color: #EEF2F1;
}

.elementor-170 .elementor-element.elementor-element-6f19c5e:not(.elementor-motion-effects-element-type-background),
.elementor-170 .elementor-element.elementor-element-6f19c5e>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #0E6968;
}

.elementor-170 .elementor-element.elementor-element-6f19c5e {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-170 .elementor-element.elementor-element-6f19c5e>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-170 .elementor-element.elementor-element-43c2fd8 .widget-image-caption {
    text-align: center;
    color: #FFFDFD;
    background-color: #0E6968;
    font-family: "Lato", Sans-serif;
    font-size: 30px;
    font-weight: 500;
}

.elementor-170 .elementor-element.elementor-element-2ee884c .widget-image-caption {
    background-color: #0E6968;
    font-family: "Lato", Sans-serif;
    font-size: 30px;
    font-weight: 400;
}

.elementor-170 .elementor-element.elementor-element-5cbf194 {
    text-align: center;
}

.elementor-170 .elementor-element.elementor-element-5cbf194 .widget-image-caption {
    background-color: #0E6968;
    font-family: "Roboto", Sans-serif;
    font-size: 30px;
    font-weight: 400;
}

.elementor-170 .elementor-element.elementor-element-bbfd8c8 .widget-image-caption {
    text-align: center;
    color: #FFFDFD;
    background-color: #0E6968;
    font-family: "Lato", Sans-serif;
    font-size: 30px;
    font-weight: 500;
}

.elementor-170 .elementor-element.elementor-element-15f730c .widget-image-caption {
    background-color: #0E6968;
    font-family: "Lato", Sans-serif;
    font-size: 30px;
    font-weight: 400;
}

.elementor-170 .elementor-element.elementor-element-0884f2b {
    text-align: center;
}

.elementor-170 .elementor-element.elementor-element-0884f2b .widget-image-caption {
    background-color: #0E6968;
    font-family: "Roboto", Sans-serif;
    font-size: 30px;
    font-weight: 400;
}

.elementor-170 .elementor-element.elementor-element-4656c6b .widget-image-caption {
    text-align: center;
    color: #FFFDFD;
    background-color: #0E6968;
    font-family: "Lato", Sans-serif;
    font-size: 30px;
    font-weight: 500;
}

.elementor-170 .elementor-element.elementor-element-8e6270a .widget-image-caption {
    background-color: #0E6968;
    font-family: "Lato", Sans-serif;
    font-size: 30px;
    font-weight: 400;
}

.elementor-170 .elementor-element.elementor-element-9e3bb58 {
    text-align: center;
}

.elementor-170 .elementor-element.elementor-element-9e3bb58 .widget-image-caption {
    background-color: #0E6968;
    font-family: "Roboto", Sans-serif;
    font-size: 30px;
    font-weight: 400;
}

.elementor-170 .elementor-element.elementor-element-0853d53 .widget-image-caption {
    text-align: center;
    color: #FFFDFD;
    background-color: #0E6968;
    font-family: "Lato", Sans-serif;
    font-size: 30px;
    font-weight: 500;
}

.elementor-170 .elementor-element.elementor-element-d5d95cf .widget-image-caption {
    background-color: #0E6968;
    font-family: "Lato", Sans-serif;
    font-size: 30px;
    font-weight: 400;
}

.elementor-170 .elementor-element.elementor-element-110d4ec {
    text-align: center;
}

.elementor-170 .elementor-element.elementor-element-110d4ec .widget-image-caption {
    background-color: #0E6968;
    font-family: "Roboto", Sans-serif;
    font-size: 30px;
    font-weight: 400;
}

.elementor-170 .elementor-element.elementor-element-a818ebf {
    --spacer-size: 50px;
}

.elementor-170 .elementor-element.elementor-element-4162856:not(.elementor-motion-effects-element-type-background),
.elementor-170 .elementor-element.elementor-element-4162856>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #0E6968;
}

.elementor-170 .elementor-element.elementor-element-4162856 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-170 .elementor-element.elementor-element-4162856>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-170 .elementor-element.elementor-element-4162856 .elementor-heading-title {
    color: #F9F9F9;
}

.elementor-170 .elementor-element.elementor-element-ff659f0 {
    text-align: center;
}

.elementor-170 .elementor-element.elementor-element-ff659f0 .elementor-heading-title {
    color: #FEFFFF;
    font-family: "Lato", Sans-serif;
    font-weight: 600;
}

.elementor-170 .elementor-element.elementor-element-17e11c7:not(.elementor-motion-effects-element-type-background),
.elementor-170 .elementor-element.elementor-element-17e11c7>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #0E6968;
}

.elementor-170 .elementor-element.elementor-element-17e11c7 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    color: #FDFDFD;
}

.elementor-170 .elementor-element.elementor-element-17e11c7>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-170 .elementor-element.elementor-element-17e11c7 .elementor-heading-title {
    color: #FCFCFC;
}

.elementor-170 .elementor-element.elementor-element-8f51637 {
    text-align: center;
    color: #FFFFFF;
    font-family: "Lato", Sans-serif;
    font-weight: 400;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.elementor-170 .elementor-element.elementor-element-191e57b:not(.elementor-motion-effects-element-type-background),
.elementor-170 .elementor-element.elementor-element-191e57b>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #0E6968;
}

.elementor-170 .elementor-element.elementor-element-191e57b {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-170 .elementor-element.elementor-element-191e57b>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-170 .elementor-element.elementor-element-8406f15 .elementor-button {
    fill: #0E0000;
    color: #0E0000;
    background-color: #EEF2F1;
}

@media(min-width:768px) {
    .elementor-170 .elementor-element.elementor-element-4e25b84 {
        width: 36.025%;
    }
    .elementor-170 .elementor-element.elementor-element-7475ae5 {
        width: 36.089%;
    }
    .elementor-170 .elementor-element.elementor-element-ce8ce3e {
        width: 36.185%;
    }
    .elementor-170 .elementor-element.elementor-element-479fed7 {
        width: 36.025%;
    }
    .elementor-170 .elementor-element.elementor-element-eaadf02 {
        width: 36.089%;
    }
    .elementor-170 .elementor-element.elementor-element-46bde9a {
        width: 36.185%;
    }
    .elementor-170 .elementor-element.elementor-element-ca4a432 {
        width: 36.025%;
    }
    .elementor-170 .elementor-element.elementor-element-9ff13c2 {
        width: 36.089%;
    }
    .elementor-170 .elementor-element.elementor-element-d35d4b8 {
        width: 36.185%;
    }
    .elementor-170 .elementor-element.elementor-element-9dd442d {
        width: 36.025%;
    }
    .elementor-170 .elementor-element.elementor-element-a487686 {
        width: 36.089%;
    }
    .elementor-170 .elementor-element.elementor-element-a356e7a {
        width: 36.185%;
    }
}